@import '../../common/css/rem';
@import '../../common/css/const';
.index-ctr {
  .main-top{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }

  }
  .content{
    background: #FFFFFF;
    margin-top: rem(-25);
    border-top-left-radius: rem(20);
    border-top-right-radius: rem(20);
    position: relative;
    .mainTitle{
      display: flex;
      justify-content: space-around;
      padding: rem(36) 0;
      div{
        text-align: center;
        img{
          width: rem(130);
          height: rem(130);
        }
        p{
          font-size: rem(24);
          font-family: PingFang SC;
          font-weight: 500;
          color: #423B3B;
          line-height: rem(30);
        }
      }
    }
    .ctnTop{  /*公用*/
      padding:0 rem(40);
      display: flex;
      align-items: center;
      justify-content: space-between;
      img{
        width: rem(542);
        height: rem(60);
      }
      p{
        white-space: nowrap;
        font-size: rem(24);
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #8A7F7D;
      }
    }
    .shufa{
      .ctnContent{
        margin: rem(15) 0 rem(30) rem(40);
        display: flex;
        overflow: scroll;
        img{
          border-radius: rem(10);
          width: rem(285);
          height: rem(180);
          margin-right: rem(30);
        }
      }
    }
    .huihua{
      .huihuaContent{
        .huihuaItem{
          margin: rem(15) rem(40) rem(30) rem(40);
          box-shadow: 0 rem(8) rem(15) 0 rgba(237, 105, 87, 0.3);
          border-radius: rem(10);
          img{
            width: 100%;
            height: rem(265);
          }
          div{
            padding: rem(30);
            p:nth-of-type(1){
              font-size: rem(26);
              font-family: Source Han Sans CN;
              font-weight: 500;
              color: #504643;
              line-height: rem(44);
            }
            p:nth-of-type(2){
              font-size: rem(22);
              font-family: Source Han Sans CN;
              font-weight: 400;
              color: #A39F9D;
              line-height: rem(30);
            }
          }
        }
      }
    }
    .sheying{
      .sheyingContent{
        //padding: rem(15) rem(40);
        padding-left: rem(40);
        padding-top: rem(15);
        img{
          width: rem(320);
          height: rem(315);
          border-radius: rem(10);
          margin: 0 .3rem .3rem 0;
          float: left;
        }
      }
    }
  }
  .van-popup{
    background-color: rgba(0, 0, 0, 0.7) !important;
    width: 100%;
    height: 100%;
    .all{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      justify-content: space-around;
    }
  }
  .van-overlay{

  }
  .alitem{
    display: flex;
    align-items: center;
  }
  .p-content{
    height: 100%;
    .p1{
      text-align: center;
      img{
        width: rem(550);
        //height: rem(1027);
      }
    }
    .p2{
      //text-align: center;
      div:nth-of-type(1){
        padding: rem(30) rem(70);
        p{
          line-height: rem(40);
          font-size: rem(26);
          font-family: PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
        }
        span{
          color: #B2B2B2;
        }
      }
      div:nth-of-type(2){
        width: rem(160);
        height: rem(70);
        border-radius: rem(40);
        display: flex;
        align-items: center;
        justify-content: center;
        border:rem(2) solid #FFFFFF;
        color: #FFFFFF;
        margin: 0 auto;

      }
    }
  }
}

